@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=League+Spartan:wght@100..900&display=swap");

* {
  font-family: "Gabarito", sans-serif;
  color: rgb(61, 61, 61);
  font-weight: medium;
  color: rgb(15 23 42 / var(--tw-text-opacity, 1));
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
}
svg {
  color: white;
}

h1 {
  font-family: "Gabarito", sans-serif;
}
p {
  color: rgb(133, 133, 133);
  font-weight: 100;
}
